# VARIAVEIS DE AMBIENTE

#AMBIENTE DE PUBLICACAO
PUBLICAR = 'HML'

# PORTA DO SISTEMA
PORTA = 

# BANCO DE DADOS HOMOLOGACAO
HML_DIALECT = 
HML_HOST = 
HML_USER_NAME = 
HML_PASSWORD = 
HML_DATABASE = 
HML_PORT =

# BANCO DE DADOS PRODUCAO
PROD_DIALECT = 
PROD_HOST =
PROD_USER_NAME = 
PROD_PASSWORD = 
PROD_DATABASE = 
PROD_PORT = 


